<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rspKiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <rspKiosk.Properties.Settings>
            <setting name="rspKiosk_tmoService_TMobileService" serializeAs="String">
                <value>http://10.7.0.92/TMobileService.asmx</value>
            </setting>
        </rspKiosk.Properties.Settings>
    </applicationSettings>
</configuration>