.container {
	.text-size(14);

	img {
		max-width: 100%;
	}
}

.main {
	margin-bottom: 20px;
	margin-top: 20px;

	.content {
		form {
			border: 1px solid @gray-light;
			.border-radius(5px);
			padding: 20px;

			label {
				font-weight: normal;
			}
		}

		@media (min-width: @screen-sm-min) {
			margin-bottom: 100px;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.trustwave {
		float: right;
		margin: 10px 20px 0 0;
	}
}

.main-header {
	margin-bottom: 32px;
	padding-right: 0;

	h1 {
		color: @primary-color;
		.text-size(24);
		margin: 0 0 5px;
	}

	p {
		display: block;
		.text-size(14);
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		height: 85px;
		padding-right: 175px;
		padding-top: 30px;
	}
}

form {
	position: relative;

	.right {
		margin-bottom: 20px;
		width: 100%;

		a {
			display: block;
			padding: 20px 0;
			text-align: center;
		}

		&:first-child {
			display: none;
		}
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		.form-inline {

			label {
				width: 250px;
			}

			a {
				margin-left: 30px;
			}

            a.infoTip {
                background-image: url('../images/ui/1285180071_information.png');
	            background-repeat: no-repeat;
	            background-position: 0px 0px;
	            height: 17px; 
                width: 17px;
	            display: inline-block;
                margin-left:5px;
            }

			.right {
				float: right;
			}
		}

        .accountNumber,
        .carrier,
		.zip,
		.ssn,
        .areaCode,
        .zipCodeEdit,
		.pin {
			.form-control {
				width: 230px;
			}
		}

		.right {
			bottom: -80px;
			float: right;
			position: absolute;
			right: 0;
			width: 150px;

			&:first-child {
				bottom: auto;
				display: block;
				top: -60px;
			}

			a {
				display: inline-block;
				padding: 0;
			}

			.btn {
				display: inline;
				margin-left: 20px;
				padding: 10px 14px;
				width: auto;
			}
		}
	}
}

.phone {
	label {
		display: block;
	}

	.form-control {
		display: inline-block;
		width: 70px;
	}

	@media (min-width: @screen-sm-min) {
		label {
			display: inline-block;
		}
	}
}

.product {
	border: 1px solid @gray-light;
	.border-radius(5px);
	margin-bottom: 15px;
	padding: 10px;
	text-align: center;

	.image {
		display: block;
		overflow: auto;
		padding-bottom: 10px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.info {
		margin: 0 0 10px;
	}

    .phone {
        font-size:large;
    }

    .manufacturer {
        text-transform:capitalize;
    }

}

#existing .info {
	float: left;
}

.legal {
	background: @gray-lighter;
	border: 1px solid @gray-light;
	clear: both;
	.text-size(12);
	padding: 10px 20px;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}