<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>local.fullapi.costco.wa</ServerName><LauncherName>New_configuration</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion8</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>