<?xml version="1.0"?>
<configuration>
  <appSettings file="">
    <!-- Account Validation Request -->
    <add key="ActivateAfterDays" value="2"/>
    <add key="Vendor-PIN" value="6654" />
    <add key="Vendor-Code" value="CO" />
    <add key="Service-URL" value="http://webservicesgatewaytest.sprint.com/rtb1/services/xml/ovm/OrderValidationService/v1" />
  </appSettings>

  <connectionStrings>
    <add name="WirelessAdvocates.Properties.Settings.DataConnectionString" connectionString="Data Source=10.7.0.21,1500;Initial Catalog=TEST.WIRELESSADVOCATES.COM;User ID=cfdbo;Password=W1r3l3ss" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4" />
    </switches>
  </system.diagnostics>
  
</configuration>