<div class="container topBar">
	<header class="col-md-16 header">
		<div class="content row">
            <div class="col-md-8 linksLeft">
                <!--<a href="/index.cfm/go/shop/do/upgrade-checker?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=UpgradeChecker">Upgrade Checker</a>
                <a href="/index.cfm/go/content/do/storeLocator/?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=StoreLocator" target="_blank">Store Locator</a>
                <a href="http://www.aafes.com?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=ReturnToExchangeMall">Return to the Exchange Mall</a>-->
            </div>
            <div class="col-md-8 linksRight">
                <!--<a href="#?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=Cart" onClick="viewCart(); return false;" id="lnkMyCart"><span></span>Your Cart</a>-->
                <a href="/index.cfm/go/myAccount/do/view/?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=SignInToAccount">Sign into Your Account</a><!-- id="lnkMyAccount"-->
            </div>
		</div>
	</header>
</div>

<div class="container">
    <div class="aafesHeader">
        <div class="col-md-8">
            <div class="headerLogo">
                <a href="/" id="WAlogo"><img src="http://10.7.0.140/assets/aafes/images/X_mobile_center_logo.png" alt="Exchange Mobile Center" title="" /></a>
                <!--<a href="/" id="WAlogo"><img src="/assets/aafes/images/X_mobile_center_logo.png" alt="Exchange Mobile Center" title="" /></a>-->
            </div>
		</div>
        <div class="col-md-8">
            <form action="/index.cfm/go/search/do/search/" method="get">
                <div id="search" class="searchBox">
                    <div id="search-form-container">
                        <input type="submit" value="" class="searchGo" />
                        <input type="text" id="q" name="q" value="" />
                    </div>
                </div>
            </form>
        </div>
    </div>        
    <div class="navigation" role="navigation" >
        <div class="top-nav">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-tabs">
                    <li role="presentation"><a href="/?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=ReturnToShopping">Return to Shopping</a></li>
                    <li role="presentation"><a href="#?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=MilitaryDiscount" onclick="viewMilitaryWindow('MilitaryDiscount', 'Military Discount')" col="Military Discounts">Military Discounts</a></li>
                    <li role="presentation"><a href="#?utm_source=AAFESMOBILE&utm_medium=P-NAV&utm_campaign=MilitaryDeployment" onclick="viewMilitaryWindow('MilitaryDeployment', 'Military Deployment')" col="Military Deployment">Military Deployment</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

