<div class="dropdown">
	<a  id="dLabel"
		class="dropdown-toggle"
		href="#"
		data-toggle="dropdown"
		role="button"
		aria-haspopup="true"
		aria-expanded="false">Filter Accessories</a>

	<div class="dropdown-menu" aria-labelledby="dLabel">
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Show All Devices
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Cases
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Docks &amp; Mounts
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Screen Protectors
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Bluetooth
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Chargers &amp; Adapters
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Headphones &amp; Speakers
			</label>
		</div>
		<h4>Pricing</h4>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Less than $15
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				$15 - $30
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				$30 and Up
			</label>
		</div>
		<h4>Brands</h4>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				LG
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Otterbox
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Random Order
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				TYLT
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Naztech
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				PDO
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Samsung
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Zagg
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Liteproof
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Qmadix
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				Scosche
			</label>
		</div>
	</div>
</div>