<!-- Add class .has-error to form-group for input error state -->
<a href="#" data-toggle="modal" data-target=".verizon-customer-type">Click here! This device qualifies for $50 Cash Back via Mail-in Rebate!</a>
<div class="modal fade verizon-customer-type" tabindex="-1" role="dialog" aria-labeledby="verizonCustomerModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="verizonCustomerModalLabel">Verizon Wireless Customer Type?</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<h4>Please choose from one of the options below.</h4>
				</div>
			 	<div class="col-md-8">
		 		<div class="option">
			 		<strong>Existing Verizon customer?</strong>
			 		<p>If you're already a Verizon Wireless customer, you can Upgrade or Add a Line on your account.</p>
			 		<button class="btn btn-primary btn-lg">Upgrade</button>
			 		<button class="btn btn-lg">Add a Line</button>
		 		</div>
			 	</div>
			 	<div class="col-md-8">
				 	<div class="option" id="new-customer1">
				 		<strong>New Verizon customer?</strong>
				 		<p>If you're not already a Verizon customer, continue here.</p>
				 		<button class="btn btn-lg center-block">New to Verizon</button>
				 	</div>
				 	<div class="option" id="new-customer2">
				 		<strong>New Verizon customer?</strong>
				 		<p>Please enter the zip codewhere you will most frequently use your wireless device, or if changing carriers use the zip code from your existing account.</p>
					 	<div class="row">
					 	<div class="col-md-12 col-md-offset-2">
						 	<div class="form-group zip">
								<label for="inputZip">ZIP Code</label>
								<input type="text" class="form-control" id="inputZip">
							</div>
							<button type="button" class="btn btn-lg btn-block">See Plans</button>
						</div>
						</div>
				 	</div>
			 	</div>
		 	</div>
		 </div>
		</div>
	</div>
</div>