<br>
<a href="#" data-toggle="modal" data-target=".device-detail">Click here here for the device pop-up</a>
<div class="modal fade device-detail" tabindex="-1" role="dialog" aria-labeledby="deviceDetailModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="modal-body">
			<div class="row">
			 	<div class="col-md-6">
			 		<div class="device-main">
						<img src="/images/ex-featured-accessories.jpg" alt="something" />
					</div>
					<div class="row">
						<div class="col-md-5">
							<a href="#" class="device-thumb">
								<img src="/images/ex-featured-accessories.jpg" data-full-src="/images/ex-featured-accessories.jpg" alt="something" />
							</a>
						</div>
						<div class="col-md-5">
							<a href="#" class="device-thumb">
								<img src="/images/ex-featured-accessories2.jpg" data-full-src="/images/ex-featured-accessories2.jpg" alt="something" />
							</a>
						</div>
						<div class="col-md-5">
							<a href="#" class="device-thumb">
								<img src="/images/ex-featured-accessories.jpg" data-full-src="/images/ex-featured-accessories.jpg" alt="something" />
							</a>
						</div>
					</div>
			 	</div>
			 	<div class="col-md-10">
				 	<h4 id="deviceDetailModalLabel">ZAGG iPhone 6 Glass Screen Protector</h4>
				 	<div class="description">High tempered glass provides ultimate clarity for the iPhone 6 device</div>
				 	<ul>
						<li>Protective: Made of fortified tempered glass it delivers unprecedented scratch protection.</li>
						<li>Crystal Clear: HIgh-grade tempered glass provides ultimate clarity.</li>
						<li>Guaranteed: InvisibleShield Glass is so good, it comes with a lifetime guarantee.</li>
				 	</ul>
					<div class="row">
					 	<div class="col-md-8">
					 		<div class="form-group form-inline">
					 			<label for="inputQuantity">Quantity</label>
								<select class="form-control" id="inputQuantity">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
					 	</div>
					 	<div class="col-md-8 price">Price: <strong>$9.99</strong></div>

				 	</div>
				 	<button type="submit" class="btn btn-primary right">Continue</button>
				 	<button class="btn btn-gray right" data-dismiss="modal" aria-label="Close">No Thanks</button>
			 	</div>
		 	</div>
		 </div>
		</div>
	</div>
</div>