<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivationForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ActivationForm.Properties.Settings>
            <setting name="ActivationForm_attService_ATTService" serializeAs="String">
                <value>http://10.7.0.93/ATTService.asmx</value>
            </setting>
        </ActivationForm.Properties.Settings>
    </applicationSettings>
</configuration>