<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogDbConnString" connectionString="Data Source=10.7.0.21,1500;Initial Catalog=TEST.WIRELESSADVOCATES.COM;Persist Security Info=True;User ID=cfdbo;Password=W1r3l3ss"
            providerName="System.Data.SqlClient" />
        <add name="LogViewer.Properties.Settings.STAGE_CARTOYSConnectionString"
            connectionString="Data Source=10.7.0.21,1500;Initial Catalog=STAGE_CARTOYS;Persist Security Info=True;User ID=cfdbo;Password=W1r3l3ss"
            providerName="System.Data.SqlClient" />
        <add name="LogViewer.Properties.Settings.TEST_WIRELESSADVOCATES_COMConnectionString"
            connectionString="Data Source=10.7.0.21,1500;Initial Catalog=TEST.WIRELESSADVOCATES.COM;Persist Security Info=True;User ID=cfdbo;Password=W1r3l3ss"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 