<?xml version="1.0" encoding="utf-8"?>
<!-- This is the base app.config -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <clear />
    <add key="Vendor-PIN" value="6654" />
    <add key="Vendor-Code" value="CO" />
    <add key="Application-Id" value="CSTC" />
    <add key="Application-UserId" value="CSTC" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="30000" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorLogging" type="SprintCarrierServiceTests.WCF.ErrorHandlerBehavior, SprintCarrierServiceTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="InterceptChannel" type="SprintCarrierServiceTests.WCF.InterceptChannelBindingElementExtensionElement,SprintCarrierServiceTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCredentialsBehavior">
          <clientCredentials>
            <clientCertificate findValue="4033e8849c5eb0f8e27e43310f142e2e6fcaf9b3" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="03a762696cf2de6723084c0de2fef7e8cd34ef1a" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--
    To connect with the Sprint SOAP services:
    
    In addition to using these CustomBindings, 
    
    you MUST EDIT the GENERATED Reference.cs proxy for every service
    
    Add the following attribute: 
    
    , ProtectionLevel = System.Net.Security.ProtectionLevel.Sign 
    
    on the PortType,
    
    as follows:
    
    [System.ServiceModel.ServiceContractAttribute(Namespace="http://integration.sprint.com/eai/services/QueryPlansAndOptionsService/v1/QueryPl" +
        "ansAndOptionsService.wsdl", ConfigurationName="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType", ProtectionLevel = System.Net.Security.ProtectionLevel.Sign)]
      public interface QueryPlansAndOptionsPortType { ...  
      
    and then, you must REMEMBER to edit Reference.cs every time you update the corresponding Service Reference.
    
    And yes, if somebody wants to write a SchemaImporterExtension, this could be automated...
    
    REMEMBER: Updating the service reference also causes this config to be updated with breaking changes 
              Those changes must be backed out.
              Easiest way to do this is to simply reply 'NO' to Save Changes prior to initiating a build.
              Failure to do this will cause this app.config to break!!!
              
    REMEMBER: UPDATING SERVICE REFERENCE IS NOT YOUR FRIEND!  BE CAREFUL!
    -->
    <bindings>
      <basicHttpBinding>
        <binding name="SprintServiceSoap" sendTimeout="00:20:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SprintBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificate" includeTimestamp="false" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <httpsTransport />
        </binding>
        <binding name="SprintInterceptBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false" keyEntropyMode="ClientEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <InterceptChannel />
          <httpsTransport>
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <!--
          <endpoint address="http://WAHQ-ECOM-3DFA.wirelessadvocates.llc:38160/SprintService.asmx"
          <endpoint address="http://localhost:38712/SprintService.asmx"
          <endpoint address="http://dev-ws.ecom.corp/api/sprintcarrierservice/costco/SprintService.asmx"
          -->
    <client>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryPlansAndOptionsService/v1" behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding" bindingConfiguration="SprintInterceptBinding" contract="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType" name="QueryPlansAndOptionsPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryDeviceInfoService/v1" behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding" bindingConfiguration="SprintInterceptBinding" contract="QueryDeviceInfoService.QueryDeviceInfoPortType" name="QueryDeviceInfoPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/AddressManagementService/v1" behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding" bindingConfiguration="SprintInterceptBinding" contract="AddressMgmtService.AddressManagementServicePortType" name="AddressManagementServicePortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/services/demo/secured/QuerySystemStatusService/v1" behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding" bindingConfiguration="SprintBinding" contract="QuerySystemStatusService.QuerySystemStatusPortType" name="QuerySystemStatusPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58913/SprintService.asmx" binding="basicHttpBinding" bindingConfiguration="SprintServiceSoap" contract="SprintService.SprintServiceSoap" name="SprintServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.extensions" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.5.0" newVersion="3.16.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!-- This section turns on digest logging, note that for this to work correctly,
           you need to add the following to machine.config:
              <system.serviceModel>
                <machineSettings enableLoggingKnownPii="true" />
              </system.serviceModel>
           Search for 'DigestTrace' in the trace viewer to view the digest logs.
      -->
      <source name="System.IdentityModel" switchValue="Verbose" logKnownPii="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\Traces.svclog" />
        </listeners>
      </source>
      <!-- ActivityTracing and propagateActivity are used to flesh out the 'Activities' tab in
           SvcTraceViewer to aid debugging. -->
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- This records Microsoft.IdentityModel generated traces, including exceptions thrown
           from the framework. -->
      <source name="Microsoft.IdentityModel" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>