<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <clear />
    <add key="Vendor-PIN" value="6654" />
    <add key="Vendor-Code" value="CO" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
                      logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
                      maxMessagesToLog="30000" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCredentialsBehavior">
          <clientCredentials>
            <clientCertificate findValue="4033e8849c5eb0f8e27e43310f142e2e6fcaf9b3"
                               storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="03a762696cf2de6723084c0de2fef7e8cd34ef1a"
                                  storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="DebugBehavior">
          <clientCredentials>
            <clientCertificate findValue="4033e8849c5eb0f8e27e43310f142e2e6fcaf9b3"
                               storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <!--<serviceBehaviors>
        <behavior name="NewBehavior0" />
      </serviceBehaviors>-->
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SprintServiceSoap" />
        <binding name="QueryPlansAndOptionsBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="AddressManagementServiceSOAPBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="QueryDeviceInfoBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="YaronBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security authenticationMode="MutualCertificate" includeTimestamp="false"
              messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <secureConversationBootstrap />
          </security>
          <httpsTransport />
        </binding>
        <binding name="QueryPlansAndOptionsCustomBinding">
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true"
                    authenticationMode="CertificateOverTransport" requireDerivedKeys="false"
                    securityHeaderLayout="Lax" allowInsecureTransport="true"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                    requireSecurityContextCancellation="false" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="QueryPlansAndOptionsBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" negotiateServiceCredential="false"
                     establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="AddressManagementServiceSOAPBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" negotiateServiceCredential="false"
                     establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="QueryDeviceInfoBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" negotiateServiceCredential="false"
                     establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--
          <endpoint address="http://WAHQ-ECOM-3DFA.wirelessadvocates.llc:38160/SprintService.asmx"
          <endpoint address="http://localhost:38712/SprintService.asmx"
          <endpoint address="http://dev-ws.ecom.corp/api/sprintcarrierservice/costco/SprintService.asmx"
          -->
    <client>
      <endpoint
        address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryPlansAndOptionsService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding"
        bindingConfiguration="YaronBinding"
        contract="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType"
        name="QueryPlansAndOptionsPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint
        address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/AddressManagementService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="basicHttpBinding"
        bindingConfiguration="AddressManagementServiceSOAPBinding"
        contract="AddressMgmtService.AddressManagementServicePortType"
        name="AddressManagementServicePortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint
        address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryDeviceInfoService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="basicHttpBinding"
        bindingConfiguration="QueryDeviceInfoBinding" contract="QueryDeviceInfoService.QueryDeviceInfoPortType"
        name="QueryDeviceInfoPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:38712/SprintService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SprintServiceSoap"
                contract="SprintService.SprintServiceSoap" name="SprintServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.extensions" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.5.0" newVersion="3.16.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!-- This section turns on digest logging, note that for this to work correctly,
           you need to add the following to machine.config:
              <system.serviceModel>
                <machineSettings enableLoggingKnownPii="true" />
              </system.serviceModel>
           Search for 'DigestTrace' in the trace viewer to view the digest logs.
      -->
      <source name="System.IdentityModel" switchValue="Verbose" logKnownPii="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\logs\Traces.svclog" />
        </listeners>
      </source>
      <!-- ActivityTracing and propogateActivity are used to flesh out the 'Activities' tab in
           SvcTraceViewer to aid debugging. -->
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <!-- This records Microsoft.IdentityModel generated traces, including exceptions thrown
           from the framework. -->
      <source name="Microsoft.IdentityModel" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>


</configuration>