<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SprintCSI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <clear />
    <add key="ActivateAfterDays" value="2" />
    <add key="Vendor-PIN" value="6654" />
    <add key="Vendor-Code" value="CO" />
    <add key="Agent-Code" value="21AHT00X"/>
    <add key="Application-Id" value="CSTC" />
    <add key="Application-UserId" value="CSTC" />
    <add key="Service-URL" value="https://webservicesgatewaytest.sprint.com:444/rtb1/services/xml/ovm/OrderValidationService/v1" />
    <add key="Test-Reference" value="1382204434040" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="6000" />
    <compilation debug="true" targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <connectionStrings>
    <clear />
    <add name="WirelessAdvocates.Properties.Settings.DataConnectionString" connectionString="Data Source=devdb-01.ecom.corp;Initial Catalog=COSTCO.TEST;User ID=cfdbo;Password=W1r3l3ss" providerName="System.Data.SqlClient" />
    <add name="SWGErrorHandleEntities" connectionString="metadata=res://*/SWGErrorHandle.csdl|res://*/SWGErrorHandle.ssdl|res://*/SWGErrorHandle.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devdb-01.ecom.corp;Initial Catalog= SWGErrorHandle.DEV;User ID=errzfo;Password=R#fT1iow62938imn!bl9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SprintOrders" connectionString="metadata=res://*/SprintOrders.csdl|res://*/SprintOrders.ssdl|res://*/SprintOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devdb-01.ecom.corp;Initial Catalog=COSTCO.TEST;User ID=cfdbo;Password=W1r3l3ss;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4" />
    </switches>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="InterceptChannel" type="SprintCSI.WCF.InterceptChannelBindingElementExtensionElement,SprintCSI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCredentialsBehavior">
          <clientCredentials>
            <clientCertificate findValue="4033e8849c5eb0f8e27e43310f142e2e6fcaf9b3" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="03a762696cf2de6723084c0de2fef7e8cd34ef1a" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--
    To connect with the Sprint SOAP services:
    
    In addition to using these CustomBindings, 
    
    you MUST EDIT the GENERATED Reference.cs proxy for every service
    
    Add the following attribute: 
    
    , ProtectionLevel = System.Net.Security.ProtectionLevel.Sign 
    
    on the PortType,
    
    as follows:
    
    [System.ServiceModel.ServiceContractAttribute(Namespace="http://integration.sprint.com/eai/services/QueryPlansAndOptionsService/v1/QueryPl" +
        "ansAndOptionsService.wsdl", ConfigurationName="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType", ProtectionLevel = System.Net.Security.ProtectionLevel.Sign)]
      public interface QueryPlansAndOptionsPortType { ...  
      
    and then, you must REMEMBER to edit Reference.cs every time you update the corresponding Service Reference.
    
    And yes, if somebody wants to write a SchemaImporterExtension, this could be automated...
    
    REMEMBER: Updating the service reference also causes this config to be updated with breaking changes 
              Those changes must be backed out.
              Easiest way to do this is to simply reply 'NO' to Save Changes prior to initiating a build.
              Failure to do this will cause this app.config to break!!!
              
    REMEMBER: UPDATING SERVICE REFERENCE IS NOT YOUR FRIEND!  BE CAREFUL!
    -->
    <bindings>
      <basicHttpBinding>
        <binding name="AddressManagementServiceSOAPBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AddressManagementServiceSOAPBinding1" />
        <binding name="QueryPlansAndOptionsBinding">
          <security mode="Transport" />
        </binding>
        <binding name="QueryPlansAndOptionsBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SprintBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true"
            authenticationMode="MutualCertificate" includeTimestamp="false"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <httpsTransport />
        </binding>
        <binding name="SprintInterceptBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true"
            authenticationMode="MutualCertificate" requireDerivedKeys="false"
            securityHeaderLayout="Lax" includeTimestamp="false" keyEntropyMode="ClientEntropy"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <InterceptChannel />
          <httpsTransport>
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    
    <client>
      <clear />
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryDeviceInfoService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding"
        bindingConfiguration="SprintInterceptBinding" contract="QueryDeviceInfoService.QueryDeviceInfoPortType"
        name="QueryDeviceInfoPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/AddressManagementService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding"
        bindingConfiguration="SprintInterceptBinding" contract="AddressMgmtService.AddressManagementServicePortType"
        name="AddressManagementServicePortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/services/demo/secured/QuerySystemStatusService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding"
        bindingConfiguration="SprintBinding" contract="QuerySystemStatusService.QuerySystemStatusPortType"
        name="QuerySystemStatusPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryPlansAndOptionsService/v1"
        behaviorConfiguration="ClientCredentialsBehavior" binding="customBinding"
        bindingConfiguration="SprintInterceptBinding" contract="QPOService.QueryPlansAndOptionsPortType"
        name="QueryPlansAndOptionsPortType">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SprintCSI.Properties.Settings>
      <setting name="ServiceAgreement" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="AddressConfidenceThreshold" serializeAs="String">
        <value>97</value>
      </setting>
    </SprintCSI.Properties.Settings>
  </applicationSettings>
</configuration>