<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->
   <system.web>
    <customErrors mode="Off" xdt:Locator="Match(key)" />
    <httpRuntime executionTimeout="6000" xdt:Locator="Match(key)" />
    <compilation debug="false" targetFramework="4.5" xdt:Locator="Match(key)" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" xdt:Locator="Match(key)" />
  </system.web>
  
  <appSettings>
    <add key="ActivateAfterDays" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Vendor-PIN" value="6654" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Vendor-Code" value="CO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Agent-Code" value="1akswoox" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Application-Id" value="CSTC"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Application-UserId" value="CSTC"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Service-URL" value="https://webservicesgatewaytest.sprint.com:444/rtb1/services/xml/ovm/OrderValidationService/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="WirelessAdvocates.Properties.Settings.DataConnectionString"
         connectionString="Data Source=devdb-01.ecom.corp;Initial Catalog=COSTCO.DEV;User ID=cfdbo;Password=W1r3l3ss"
         providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
     <add name="SWGErrorHandleEntities" 
         connectionString="metadata=res://*/SWGErrorHandle.csdl|res://*/SWGErrorHandle.ssdl|res://*/SWGErrorHandle.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devdb-01.ecom.corp;Initial Catalog= SWGErrorHandle.DEV;User ID=errzfo;Password=R#fT1iow62938imn!bl9;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SprintOrders"
     connectionString="metadata=res://*/SprintOrders.csdl|res://*/SprintOrders.ssdl|res://*/SprintOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devdb-01.ecom.corp;Initial Catalog= COSTCO.TEST;User ID=errzfo;Password=R#fT1iow62938imn!bl9;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryDeviceInfoService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="QueryDeviceInfoService.QueryDeviceInfoPortType"
        name="QueryDeviceInfoPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/AddressManagementService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="AddressMgmtService.AddressManagementServicePortType"
        name="AddressManagementServicePortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/services/demo/secured/QuerySystemStatusService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintBinding"
        contract="QuerySystemStatusService.QuerySystemStatusPortType"
        name="QuerySystemStatusPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryPlansAndOptionsService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType"
        name="QueryPlansAndOptionsPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>