<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ActivateAfterDays" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Vendor-PIN" value="6909" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Vendor-Code" value="AA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Agent-Code" value="21AHT00X" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Service-URL" value="http://localhost/SprintMock/Help/Api/Values" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="WirelessAdvocates.Properties.Settings.DataConnectionString"
         connectionString="Data Source=devdb-01.ecom.corp;Initial Catalog=AAFES.DEV;User ID=cfdbo;Password=W1r3l3ss"
         providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryDeviceInfoService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="QueryDeviceInfoService.QueryDeviceInfoPortType"
        name="QueryDeviceInfoPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/AddressManagementService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="AddressMgmtService.AddressManagementServicePortType"
        name="AddressManagementServicePortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/services/demo/secured/QuerySystemStatusService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintBinding"
        contract="QuerySystemStatusService.QuerySystemStatusPortType"
        name="QuerySystemStatusPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
      <endpoint address="https://webservicesgatewaytest.sprint.com:444/rtb1/services/wireless/account/QueryPlansAndOptionsService/v1"
        behaviorConfiguration="ClientCredentialsBehavior"
        binding="customBinding" bindingConfiguration="SprintInterceptBinding"
        contract="QueryPlansAndOptionsService.QueryPlansAndOptionsPortType"
        name="QueryPlansAndOptionsPortType" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <dns value="sprint-mso" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>